.contactSection{
    background: white;
    padding-bottom: 80px;
    padding-top: 28px;
}

.contact__title{
    padding-top: 62px;
    color: #104C91;
}

.contact__title h3{
    font-weight: lighter;
    width: 60%;
    margin: auto;
}

.contact__title a{
    color: #104C91;
    text-decoration: none;
    font-weight: 600;
}

.contact__title a:hover{
    text-decoration: underline;
}

.contactForm__container{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.contactForm{
    width: 60%;
    margin: auto;
}

.nameEmail__input__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 45px;
}

.name__input__container, .email__input__container{
    width: 48%;
}


.name__input__container input, .email__input__container input{
    width: 95%;
    padding: 6px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #deedf3;
    color: #104C91;
    border-radius: 5px;
    font-size: 14px;
}

.name__input__container input::placeholder, .email__input__container input::placeholder, .message__input__container textarea::placeholder{
    color: #104C91;
}

.name__input__container input:focus, .email__input__container input:focus, .message__input__container textarea:focus{
    outline: none;
}

.message__input__container{
    width: 100%;
}

.message__input__container textarea{
    width: 95%;
    height: 200px;
    background: transparent;
    border: 2px solid #deedf3;
    border-radius: 6px;
    padding: 12px;
    color: #104C91;
    resize: none;
    font-size: 14px;
}

.sendBtn{
    background: transparent;
    color: #104C91;
    border: 1px solid #7ac1df;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 25px;
    margin-top: 12px;
    transition: all .5s ease;
    cursor: pointer;
}

.sendBtn:hover{
    background: #deedf3;
    color: gray;
}

.loading__spinner__container{
    width: 120px;
    display: flex;
    justify-content: center;
}

.sendAnother__message{
    width: 200px;
    margin: 40px auto 0 auto;
    text-decoration: underline;
    cursor: pointer;
}

.sendAnother__message:hover{
    color: rgb(230, 230, 230);
}

.required__input__message{
    color: rgb(163, 22, 22);
    font-size: 14px;
    margin: 0;
}

.missingInput{
    border-bottom: 1px solid rgb(163, 22, 22) !important;
}

.missingTextarea{
    border: 1px solid rgb(163, 22, 22) !important;
}


@media(max-width: 768px){
    .contact__title h3{
        width: 90%;
    }
    .contactForm{
        width: 90%;
        margin: auto;
    }

   
}

@media(max-width: 512px){
    .contact__title h3{
        font-size: 1rem;
    }
    .nameEmail__input__container{
        flex-direction: column;
    }

    .name__input__container, .email__input__container{
        width: 100%;
    }

    .name__input__container input, .email__input__container input{
        width: 95%;
    }

    .email__input__container input{
        margin-top: 30px;
    }

    .message__input__container textarea{
        width: 92%;
    }

    .sendBtn__container{
        width: 99%;
        margin: auto;
    }

    .sendBtn{
        width: 100%;
        margin-top: 25px;
    }

    .loading__spinner__container{
        width: 100%;
    }
  
}