footer {
    background-color: #deedf3;
    position: relative;
    padding: 3.5rem;
    border-top: 1px solid white;
}

.footer__container {
    background-color: #deedf3;
}

.footer__BacktoTop {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: #deedf3;
    border-radius: 99px;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 5%);
    transition: all .2s;
    transform: scale(.95);
}

.footer__BacktoTop:hover{
    transition: all .2s;
    transform: scale(.85);
    background-color: #c1d9e2;
}
.footer__BacktoTop:hover>svg {
    color: black;
    filter: invert(100%);
    transform: scale();
}

.footer__row1 {
    margin-bottom: 1%;
    padding-bottom: 1rem;
}

.footer__row1>span {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    color: royalblue;
    overflow: hidden;
    background: linear-gradient(to right, #2c4057, #7ac1df 50%, gray 50%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 275ms ease;
}

.footer__row1>span:hover {
    background-position: 0 100%;
}

.footer__row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.footer__row2>span {
    margin-right: 5px;
}

.git__logo {
    height: 24px;
    width: 24px;
    color: #fff;
    cursor: pointer;
}

.git__logo:hover {
    color: black;
    filter: invert(50%);
}